@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: crimson #000;
    overflow-x: hidden;

}

html::-webkit-scrollbar{
    width:0.5vw;
}

html::-webkit-scrollbar-track{
background-color: #222;
border-radius: 1rem;

}

html::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius:1rem;

}



/* font-family: 'Poppins', sans-serif; */

/* font-family: 'Ubuntu', sans-serif; */




/* common styling  */

/* max-width container  */

.max-width{
    max-width: 130rem;
    padding: 0 8rem;
    margin: auto;
}
section{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding: 10rem 0;

}

section .title{
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 6rem;
    
}








/* Styling header  */
header{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    position:fixed;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;
    
}

header.addClass{
    background-color: #333;
    padding: 0.5rem 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

}
.menu a{
    margin-left: 2.5rem;
    font-size: 1.8rem;
    color: #fff;


}
.navbar .logo{
    font-size: 2rem;
    color: white;
}

header .navbar .menu-btn{
    color: #fff;
    font-size: 2.5rem;
    display: none;

}


/* Home section styling  */
section.home{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url('../assets/images/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.home .home-content{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55rem;
    transition: all 0.3s ease;
}

.home .home-content h2{
    /* font-size: 2.5rem; */
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;

    
}
.home .home-content h3{
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    


}

.home .home-content a{
    color: #fff;
    font-size: 1.8rem;
    border: 0.1rem #fff solid;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;

}
.home .home-content a:hover{
    background:#fff;
    color: #111;
    font-size: 2rem;
    border: none;

}




/* Tour section styling  */





.tour .max-width .tour-content,.about .max-width .about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.tour .tour-content .column,.about .about-content .column,.contact-content .column{
    width: calc(50% - 2rem);
    text-align: center;
}

.tour .tour-content .learn-more,.about .about-content .learn-more{
    margin: 2rem 0;
}
.tour .tour-content .learn-more a,.about .about-content .learn-more a{
    color: #222;
    font-size: 1.8rem;
    border: 0.1rem #222 solid;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    width: 16rem;
    display: inline-block;
    transition: all 0.3s linear;

}


.tour .tour-content .learn-more a:hover,.about .about-content .learn-more a:hover{
    background:#555;
    color: #fff;
    font-size: 2rem;
    border: none;
    object-fit: cover;

}


.tour .tour-content .column .text,.about .about-content .column .text{
    font-size: 2.5rem;
    font-weight: 500;
}

.tour .tour-content .column p,.about .about-content .column p{
    margin-top: 1rem;
    text-align: justify;
    
}
.tour .tour-content img{
    object-fit: cover;
    width: 100%;
    height: 35rem;
    transition: all 0.3s ease;
    border-radius: 0.9rem;

}

.tour .tour-content .img:hover img{
    transform: scale(1.02);

}




/* Explore section styling  */

section.explore{
    background-image: linear-gradient(90deg,rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.3)), url('../assets/images/explore/img\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    /* min-height: 50rem; */
    min-height: 100vh;
    object-fit: contain;
    animation: slider 7s infinite linear;

}

@keyframes slider{
    0%{
    background-image: linear-gradient(90deg,rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.3)), url('../assets/images/explore/img\ \(1\).jpg');

    }
    25%{
        background-image: linear-gradient(90deg,rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.3)), url('../assets/images/explore/img\ \(2\).jpg');

    }
    50%{
        background-image: linear-gradient(90deg,rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.3)), url('../assets/images/explore/img\ \(3\).jpg');

    }
    75%{
        background-image: linear-gradient(90deg,rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.3)), url('../assets/images/explore/img\ \(4\).jpg');

    }
    
}



.explore .explore-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-left: 2rem;
    /* height: 50vmin; */
    color: #fff;

}
.explore .title{
    color:#fff
}

.explore .explore-content .text{
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.explore .explore-content p{
    text-align: justify;
}


.explore .explore-content .learn-more{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    box-sizing: content-box;

}
.explore .explore-content .learn-more a{
    color: #fff;
    font-size: 1.8rem;
    border: 0.1rem #fff solid;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    display: inline-block;
    width: 16rem;

}
.explore .explore-content a:hover{
    background:#fff;
    color: #111;
    font-size: 2rem;
    border: none;

}





/* About section styling  */
section.about{
    border-bottom: 0.3rem transparent solid;
    border-image: linear-gradient(70deg,#ff0,#f0f,rgb(89, 87, 199));
    border-image-slice:1%;
    box-shadow: 0 1rem 1.5rem rgba(246, 89, 89, 0.1);
}
.about .about-content .column.right .img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about .about-content .column.right img{
    width: 50%; 
    height: 20rem;   
    min-height: 20rem;
    padding: 0.5rem;
    transition: all 0.3s linear;
    box-sizing: border-box;
}

.about .about-content .column.right img:hover{
    transform: scale(1.1);
}







/* Contact section styling  */


.contact .max-width .contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}




.contact .contact-content .column.left .already-customer{
    text-align: left;
}
.contact .contact-content .column.left .already-customer h4{
    font-size: 1.8rem;
    font-weight:initial;
    margin-bottom: 1rem;
}

.contact .contact-content .column.left .already-customer input{
    margin-left:1rem ;
}


.contact .contact-content .column.left .textarea textarea{
    width: 100%;
    resize: none;
    font-size: 1.8rem;
    font-family: 'poppins',sans-serif;
    border: 0.1rem solid lightgrey;
    border-radius: 0.6rem;
    padding: 0 2rem;
    margin: 1rem 0;

}

.contact .contact-content .column.left .button{
    margin-bottom: 1rem;

}
.contact .contact-content .column.left .button button{
    color: #000;
    font-size: 1.8rem;
    border: 0.1rem #000 solid;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    display: inline-block;
    background: none;

}

.contact .contact-content .column.left .button button:hover{
    background:#555;
    color: #fff;
    font-size: 2rem;
    border: none;

}

.contact .contact-content .left .fields input{

    height: 4.5rem;
    width: 100%;
    border: 0.1rem solid lightgrey;
    border-radius: 0.6rem;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-family: 'poppins',sans-serif;
    display: inline-block;
    resize: none;
    margin-bottom:1rem ;

}

.contact .contact-content .column.right .card{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contact .contact-content .column.right .text{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'poppins',sans-serif;

}
.contact .contact-content .column.right .team{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact .contact-content .column.right .team img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
}


/* footer section styling  */
footer{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    background-color: #111;
    padding: 2rem 2.3rem;
    color: #fff;
    text-align: center;
}
footer span a{
    color: blueviolet;
}

footer span a:hover{
    text-decoration: underline;
}





/* Responsiveness section start  */
@media (min-width:1281px) {
    
}
@media(min-width:1025px) and (max-width:1280px){

}

@media(min-width:768px) and (max-width:1024px){

    
 
}



@media(min-width:100px) and (max-width:1024px){


    header .navbar .menu-btn{
        display: block;
        z-index: 999;
    }

    /* add cross icons  */
    header .navbar .menu-btn i.active::before{
        content: '\f00d';
    }
    header .navbar .menu a{
        display: block;
        margin: 2.5rem 0;
    }

    header .navbar .menu{
        display: none ;
    }
    header .navbar .menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 50%;
        transition: all 0.3s ease;

    }

    header .navbar .menu.active{
        top: 0;

    }
    

    .tour .tour-content .column,.about .about-content .column,.contact-content .column{
        width: calc(100%);
    }


}

@media(min-width:481px) and (max-width:767px){
    .max-width{
        padding: 0 2.5rem;

    }

    .home .home-content h2{
        /* font-size: 2.5rem; */
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    
        
    }
    .home .home-content h3{
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        
    
    
    }
    
    /* .home .home-content a{
        color: #fff;
        font-size: 1.8rem;
        border: 0.1rem #fff solid;
        padding: 1rem 2rem;
        border-radius: 0.6rem;
        transition: all 0.3s ease;
    
    } */
    
}

@media(min-width:320px) and (max-width:480px){
    .max-width{
        padding: 0 2.5rem;

    }
    .home .home-content h2{
        /* font-size: 2.5rem; */
        font-size: 2.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    
        
    }
    .home .home-content h3{
        font-size: 3.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    
    }
    
    
}

@media(max-width:480px){
    .max-width{
        padding: 0 2.5rem;

    }
    .about .about-content .column.right img{
        width: 100%;
        height: 25rem;   

        margin-bottom:0.5rem ;
    }
}


@media(max-width:319px){
    .max-width{
        padding: 0 2.5rem;
    }
    .home .home-content h2{
        /* font-size: 2.5rem; */
        font-size: 2.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    
        
    }
    .home .home-content h3{
        font-size: 3.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    
    }
    
       
}